{% extends 'base.html' %}


{% block title %}
Edit Profile
{% endblock title %}

{% block content %}

<section class="section section-profile-edit last">
	<div class="container">
		<form action="" class="mb-0">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label class="label-feat" for="Username">Username</label>
						<input type="text" class="form-control" id="Username" placeholder="Username" value="{{ user.username }}">
					</div>
					<div class="form-group">
						<label class="label-feat" for="Email">Email</label>
						<input type="email" class="form-control" id="Email" placeholder="Email" value="{{ user.email }}">
					</div>
					<div class="form-group">
						<label class="label-feat" for="BirthDate">Birth Date</label>
						<div class="input-group input-group-date">
					    <input type="text" class="form-control" data-provide="datepicker" value="{{ user.userprofile.birthdate }}">
						</div>
					</div>

					<div class="form-group">
						<label class="label-feat" for="Metrics">Metrics</label>
        		        <select id="multiselect-metrics" class="" id="Metrics">
	                        <option value="usa">USA</option>
	                        <option value="eu">EU</option>
	                        <option value="uk">UK</option>
	        	        </select>

	                </div>
	                <!--PREPOPULATE METRICS-->
	                <script type="text/javascript">
                        $('#multiselect-metrics').val(['{{user.userprofile.get_metrics_display|lower}}']);
                        $('#multiselect-metrics').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
			            $("#multiselect-metrics").multiselect("refresh");
			        </script>


				</div>

				<div class="col-lg-4 col-md-6">

				    <!--SEX-->
					<div class="form-group">
						<label class="label-feat" for="BiologicalSex">Biological Sex</label>
                		<select id="multiselect-sex" class="" id="BiologicalSex">
        	            <option value="female">Female</option>
        	            <option value="male">Male</option>
        	        	</select>
        	        </div>
        	        <!--PREPOPULATE SEX-->
	                <script type="text/javascript">
                        $('#multiselect-sex').val(['{{user.userprofile.get_sex_display|lower}}']);
                        $('#multiselect-sex').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
			            $("#multiselect-sex").multiselect("refresh");
			        </script>

                    <!--HEIGHT-->
					<div class="form-group">
						<label class="label-feat" for="Height">Height</label>
						{% if user.userprofile.get_sex_display %}
						<input type="text" class="form-control" id="Height" value="{{user.userprofile.height}}">
						{% else %}
						<input type="text" class="form-control" id="Height" placeholder="Enter your height">
						{% endif %}
					</div>

                    <!--WEIGHT-->
					<div class="form-group">
						<label class="label-feat" for="Weight">Weight</label>
						{% if user.userprofile.get_sex_display %}
						<input type="text" class="form-control" id="Weight" value="{{user.userprofile.weight}}">
						{% else %}
						<input type="text" class="form-control" id="Weight" placeholder="Enter your weight">
						{% endif %}
					</div>

                    <!--MEALS PER DAY-->
					<div class="form-group">
                		<label class="label-feat" for="MealsPerDay">Meals per Day</label>
                		<select id="multiselect-meals-per-day" class="" id="MealsPerDay">
            	            <option value="1">1 meal</option>
            	            <option value="2">2 meals</option>
            	            <option value="3">3 meals</option>
            	            <option value="4">4 meals</option>
             	            <option value="4">4 meals</option>
        	        	</select>
        	        </div>
        	        <!--PREPOPULATE MEALS PER DAY-->
	                <script type="text/javascript">
                        $('#multiselect-meals-per-day').val(['{{user.userprofile.meals_per_day}}']);
                        $('#multiselect-meals-per-day').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
			            $("#multiselect-meals-per-day").multiselect("refresh");
			        </script>

				</div>

				<div class="col-lg-4 col-md-6">

					<div class="form-group">
						<label class="label-feat" for="Alergens">Alergens {{allergens}}</label>
						<select  id="multiselect-alergens"  id="Alergens" multiple="multiple">
            	            <option value="allergen-1">Allergen 1</option>
            	            <option value="allergen-2">Allergen 2</option>
            	            <option value="allergen-3">Allergen 3</option>
            	            <option value="allergen-4">Allergen 4</option>
            	            <option value="allergen-5">Allergen 5</option>
            	            <option value="allergen-6">Allergen 6</option>
	        	        </select>
					</div>
					 <script type="text/javascript">

                        //IF SINGLE OPTION
                        //$('#multiselect-alergens').val('{{allergens}}').trigger('change');
                        //IF MULTIPLE
                        //$('#multiselect-alergens').val(['allergen-1', 'allergen-2']);
                        $('#multiselect-alergens').val({{allergens|safe}});
                        $('#multiselect-alergens').trigger('change');
			        </script>

					<div class="form-group">
						<label class="label-feat" for="MedicalConditions">Medical Conditions</label>
						<select id="multiselect-medical-conditions" class="" multiple="multiple" id="MedicalConditions">
	            <optgroup class="group-1" label="Group 1">
		            <option value="aids">AIDS</option>
		            <option value="heart-health">Heart Health</option>
		            <option value="kidney-disease">Kidney Disease</option>
		          </optgroup>
		          <optgroup class="group-2" label="Group 2">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
		          <optgroup class="group-3" label="Group 3">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
		          <optgroup class="group-4" label="Group 4">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
		          <optgroup class="group-5" label="Group 5">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
		          <optgroup class="group-6" label="Group 6">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
		          <optgroup class="group-7" label="Group 7">
		            <option value="diabetes">Diabetes</option>
		            <option value="cancer">Cancer</option>
		            <option value="lupus">Lupus</option>
		          </optgroup>
	        	</select>
					</div>
					<div class="form-group">
						<label class="label-feat" for="RiskFactors">Risk Factors</label>
						<select  id="multiselect-risk-factors"  id="RiskFactors" multiple="multiple">
	            <option value="weight-loss">Weight loss within 3 months</option>
	            <option value="reduced-dietary-intake">Reduced dietary intake in the last week</option>
	            <option value="icu-patient">ICU patient</option>
	        	</select>
					</div>
				</div>
			</div>
			<p class="text-center pt-3">
				<button class="btn btn-primary" type="submit" disabled="disabled">Save Profile</button>
			</p>
		</form>
	</div>
</section>


<!--DEVELOPER SECTION-->
<section class="section last">

    <div class="container">
        <h1>Developer Section</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <br>
    </div>
</section>
{% endblock %}