{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

<section class="section section-profile-edit last">
	<div class="container">
		<form action="/profile/edit" method="post" class="mb-0">

		    <div class="row">

				<div class="col-lg-4 col-md-6">

				    <div class="form-group">
					<label class="label-feat" for="id_username">Username</label>
				    {{ form.username.errors }}
                    {{ form.username }}
				    </div>

				    <div class="form-group">
				    <label class="label-feat" for="id_email">Email</label>
				    {{ form.email.errors }}
                    {{ form.email }}
				    </div>

				    <div class="form-group">
					<label class="label-feat" for="id_birthdate">Birth Date</label>
				    {{ profile_form.birthdate.errors }}
                        <div class="input-group input-group-date">
                        {{ profile_form.birthdate }}
                        </div>
				    </div>

				    <div class="form-group">
				    <label class="label-feat" for="id_metrics">Metrics</label>
				    {{ profile_form.metrics.errors }}
                    {{ profile_form.metrics }}
				    </div>
	                <script type="text/javascript">
                     $('#id_metrics').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
			        </script>

				</div>

				<div class="col-lg-4 col-md-6">

				    <div class="form-group">
				    <label class="label-feat" for="id_sex">Biological Sex</label>
				    {{ profile_form.sex.errors }}
                    {{ profile_form.sex }}
				    </div>
				    <script type="text/javascript">
                     $('#id_sex').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
			        </script>

				    <div class="form-group">
					<label class="label-feat" for="id_height">Height</label>
				    {{ profile_form.height.errors }}
                    {{ profile_form.height }}
				    </div>

				    <div class="form-group">
					<label class="label-feat" for="id_weight">Height</label>
				    {{ profile_form.weight.errors }}
                    {{ profile_form.weight }}
				    </div>

				    <div class="form-group">
					<label class="label-feat" for="id_meals_per_day">Meals per day</label>
				    {{ profile_form.meals_per_day.errors }}
                    {{ profile_form.meals_per_day }}
				    </div>
                    <script type="text/javascript">
                        $('#id_meals_per_day').multiselect({buttonClass: 'form-control',  buttonWidth: '100%'});
                    </script>

				</div>

				<div class="col-lg-4 col-md-6">

				    <div class="form-group">
					<label class="label-feat" for="id_allergens">Allergens</label>
				    {{ profile_form.allergens.errors }}
                    {{ profile_form.allergens }}
				    </div>

				    <div class="form-group">
				    <label class="label-feat" for="id_medical_conditions">Medical conditions</label>
				    {{ profile_form.medical_conditions.errors }}
                    {{ profile_form.medical_conditions }}
				    </div>

				    <div class="form-group">
				    <label class="label-feat" for="id_risk_factors">Risk factors</label>
				    {{ profile_form.risk_factors.errors }}
                    {{ profile_form.risk_factors }}
				    </div>
				</div>

			</div>
            {% csrf_token %}
			<p class="text-center pt-3">
			    <button class="btn btn-primary" type="submit">Save Profile</button>
		    </p>

        </form>
    </div>
</section>

{% endblock %}