{% extends 'base.html' %}

{% block content %}

<!-- FEATURED ARTICLE -->
<section class="hero hp-hero">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 col-md-6 order-md-1 order-2">
				<div class="hero-cnt">
				    <h1>{{featured.title}}</h1>
					<!--<h1>Did you know that frozen fruit can be healthier than fresh?</h1>-->
					<p>
						<a href="{% url 'detail' slug=featured.slug %}" class="btn btn-primary">Read More</a>
					</p>
				</div>
			</div>
			<div class="col-lg-6 offset-lg-1 col-md-6 order-md-2 order-1">
				<div class="hero-img">
					<a href="{% url 'detail' slug=featured.slug %}">
			  		<!--<img src="static/img/hero-img.jpg" alt="">-->
			  		<img src="/media/{{featured.image}}" alt="">
			  	</a>
			  </div>
			</div>
		</div>
	</div>
</section>



<section class="section">
	<div class="container">
		<div class="section-title-wrapper">
			<h2 class="section-title"><a href="#">New Recipes</a></h2>
			<div class="section-link">
				<a href="#" class="link-arrow">Show all</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/1.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Salmon with Tomato, Onions, and Capers</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/2.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Oven-Roasted Salmon, Asparagus and New Potatoes</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/3.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Seared Tuna with Avocado</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm last">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/4.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Creamy Pumpkin Soup with Smoked PaprikaGlaze</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<section class="section">
	<div class="container">
		<div class="feat-box">
			<div class="row align-items-center">
				<div class="col-lg-9 col-md-8">
					<h2 class="feat-box-title">tailor made recipes, to fit your needs perfectly</h2>
				</div>
				<div class="col-lg-3 col-md-4">
					<p class="feat-box-text">
						<a href="/pro" class="btn btn-cta">Recipy pro</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-title-wrapper">
			<h2 class="section-title"><a href="#">Heart Health Recipes</a></h2>
			<div class="section-link">
				<a href="#" class="link-arrow">Show all</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-5.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Roasted Zucchini with Garlic</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-6.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Tuscan Chicken Pasta Skillet</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-7.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Potato Leek Soup</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm last">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-8.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Easy Grilled Salmon</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
		</div><!-- /.row -->
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-title-wrapper">
			<h2 class="section-title"><a href="#">Kidney Health Recipes</a></h2>
			<div class="section-link">
				<a href="#" class="link-arrow">Show all</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-9.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Easy Homemade Hummus</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-10.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Cabbage Soup</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-11.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Quick Easy Fish Stew</a>
					</h3>
				</div><!-- /.post-box -->
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="post-box post-box-sm last">
					<div class="post-box-img">
						<a href="#">
				  		<img src="static/img/post-sm-img-12.jpg" alt="">
				  	</a>
					</div>
					<h3 class="post-box-title">
						<a href="#">Roasted Beets with Balsamic </a>
					</h3>
				</div><!-- /.post-box -->
			</div>
		</div><!-- /.row -->
		<p class="section-btn-wrapper">
			<a href="/recipes" class="btn btn-primary">Browse all recipes</a>
		</p>
	</div><!-- /.container -->
</section>

<!-- THREE ARTICLES -->



<section class="section last">
	<div class="container">
		<div class="row">

			<div class="swiper-container swiper-posts" id="swiper-posts">
                <div class="swiper-wrapper">

					{% for article in three_articles %}

						<div class="swiper-slide">
							<div class="post-box post-box-lg">
								<div class="post-box-img">
									<a href="{% url 'detail' slug=article.slug %}">
							  		<img src="/media/{{article.image}}" alt="{{article.title}}">
							  	</a>
								</div>
								<h3 class="post-box-title">
									<a href="{% url 'detail' slug=article.slug %}">{{article.title}}</a>
								</h3>
								<p>
									{{article.body}}
								</p>
							</div>
						</div>

                {% endfor %}


				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}