{% extends 'base.html' %}


{% block title %} Recipy.me PRO {% endblock %}

{% block content %}

<section class="hero hp-hero pro-hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-cnt">
                    <h1 class="mb-0">Automatic nutrients adjustent.</h1>
                    <p>
                        We do the math, you do the cooking.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img">
                <img src="static/img/hero-pro.png" alt="">
              </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-feat section-pro last">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="pro-img">
                <img src="static/img/pro-2.png" alt="">
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="pro-cnt">
                    <h1 class="mb-0">Weekly Meal Planner</h1>
                    <p>
                        Plan ahead & take care of your daily nutrients intake!
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>

<section class="section section-pro last">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 order-md-1 order-2">
                <div class="pro-cnt">
                    <h1 class="mb-0">Tailored for you recipes!</h1>
                    <p>
                        Your digital Nutritionist.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 order-md-2 order-1">
                <div class="pro-img">
                <img src="static/img/pro-3.jpg" alt="">
              </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>

<section class="section section-light section-pro last" id="prices">
    <div class="container">
        <div class="prices-box-wrapper">

            <div class="price-box-wrapper">
                <div class="price-box">
                    <h2>Monthly</h2>
                    <p class="price">$5</p>
                    <p><a href="#" class="btn btn-primary">Start Recipy PRO</a></p>
                    <p>billed <strong>$5</strong> monthly</p>
                </div><!-- /.price-box -->
            </div>

            <div class="price-box-wrapper">
                <div class="price-box price-box-feat">
                    <h2>Yearly</h2>
                    <p class="price">$3</p>
                    <p><a href="#" class="btn btn-primary">Start Recipy PRO</a></p>
                    <p>billed <strong>$36</strong> annualy</p>
                </div><!-- /.price-box -->
                <p class="text-center my-2"><strong>BEST BUY · YOU SAVE 40%</strong></p>
            </div>

            <div class="price-box-wrapper">
                <div class="price-box price-box-blank">
                    <h2>Unlock</h2>
                    <ul class="feat-list">
                        <li>Automatic nutrients adjustment</li>
                        <li>Weekly meal planner</li>
                        <li>Tailored for you recipes</li>
                        <li>Exclude ingredients</li>
                        <li>Add / Edit recipes</li>
                        <li>Print recipes</li>
                    </ul>
                </div><!-- /.price-box -->
            </div>

        </div><!-- /.prices-box-wrapper -->
    </div><!-- /.container -->
</section>

{% endblock %}