
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap-4.5.2/bootstrap.min.js"></script>
<script src="/static/js/swiper-6.2.0/swiper-bundle.min.js"></script>
<script src="/static/js/bootstrap-multiselect.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/custom.js"></script>



<!--recipes-list-->
<!--<script src="static/js/jquery-3.5.1.min.js"></script>-->
<!--<script src="static/js/popper.min.js"></script>-->
<!--<script src="static/js/bootstrap-4.5.2/bootstrap.min.js"></script>-->
<!--<script src="static/js/swiper-6.2.0/swiper-bundle.min.js"></script>-->
<!--<script src="static/js/bootstrap-multiselect.js"></script>-->
<!--<script src="static/js/functions.js"></script>-->
